@import url('https://fonts.googleapis.com/css?family=Thasadith');

html * {
  font-family: 'Thasadith', sans-serif !important;
  font-size: 10px;
}

p, a, label {
  font-size: 1.25rem;
}
li, input, textarea, button {
  font-size: 1.1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

body {
  background: blue;
}